---
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/presentacion.astro";
import SobreMi from "../components/sobremi.astro";
import { ProyectosDestacables } from "../components/proyectosDestacables.jsx";
import { OtrosProyectos } from "../components/OtrosProyectos.jsx";
---

<Layout title="JodomoDev">
  <section class="px-6">
    <Presentacion />
    <SobreMi />
  </section>
  <ProyectosDestacables client:visible />
  <OtrosProyectos client:visible />
</Layout>
