---
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/presentacion.astro";
import SobreMi from "../components/sobremi.astro";
import { ProyectosGrid } from "../components/ProjectsGrid.jsx";
---

<Layout title='JodomoDev'>
  <section '>
    <Presentacion />
    <SobreMi />
  </section>
  <ProyectosGrid client:visible />
</Layout>
