---
const code = "</>";
---

<section
  class='text-white mt-36 lg:mt-20 flex flex-col lg:flex-row lg:justify-between'
>
  <div class='flex flex-col justify-end items-center lg:items-start'>
    <h1 class='font-bold text-4xl lg:text-6xl'>
      Joe D<b class='text-indigo-500'>.</b> Molina
    </h1>
    <h3 class='lg:text-xl ml-3 lg:ml-0'>
      Programador Web Full-Stack <b class='text-indigo-600'>{code}</b>
    </h3>
  </div>
  <nav>
    <ul class='flex justify-center items-center mt-5 lg:flex-col'>
      <a
        class='px-2 py-3 hover:animate-pulse'
        href='https://github.com/Joe-Molina'
        target='_blank'
      >
        <img src='/github.svg' alt='' class='hover:scale-110 transition h-6' />
      </a>
      <a
        class='px-2 py-3 hover:animate-pulse'
        href='https://www.linkedin.com/in/joe-molina-2b7089200/'
        target='_blank'
        ><img
          src='/linkedin.svg'
          alt='linkeding logo'
          class='hover:scale-110 transition h-6'
        /></a
      >
      <a
        class='px-2 py-3 hover:animate-pulse'
        href='mailto:joedodaniljr123@gmail.com?Subject=Contacto%20con%20JodomoDev%20via%20mail'
        target='_blank'
        ><img
          src='/mail.svg'
          alt=''
          class='hover:scale-110 transition h-5'
        /></a
      >
    </ul>
  </nav>
</section>
