---
const code = "</>";
---

<section
  class="text-white mt-36 lg:mt-20 flex flex-col lg:flex-row lg:justify-between"
>
  <div class="flex flex-col justify-end items-center lg:items-start">
    <h1 class="font-bold text-4xl lg:text-6xl">
      Joe D<b class="text-indigo-500">.</b> Molina
    </h1>
    <h3 class="lg:text-xl ml-3 lg:ml-0">
      Programador Web Full-Stack <b class="text-indigo-600">{code}</b>
    </h3>
  </div>
  <nav>
    <ul class="flex justify-center items-center mt-5 lg:flex-col">
      <a class="px-2 py-3">
        <img src="/github.svg" alt="" class="hover:scale-110 transition" />
      </a>
      <a class="px-2 py-3"
        ><img
          src="/linkedin.svg"
          alt=""
          class="hover:scale-110 transition"
        /></a
      >
      <a class="px-2 py-3"
        ><img src="/mail.svg" alt="" class="hover:scale-110 transition" /></a
      >
    </ul>
  </nav>
</section>
