---
const icons = [
  {
    icon: "/icons/html.svg",
    name: "Html",
  },
  {
    icon: "/icons/css.svg",
    name: "Css",
  },
  {
    icon: "/icons/js.svg",
    name: "JavaScript",
  },
  {
    icon: "/icons/tailwind.svg",
    name: "Tailwind",
  },
  {
    icon: "/icons/react.svg",
    name: "React",
  },
  {
    icon: "/icons/node.svg",
    name: "Node",
  },
  {
    icon: "/icons/express.svg",
    name: "Express",
  },
  {
    icon: "/icons/astro.svg",
    name: "Astro",
  },
];
---

<section
  class="flex flex-col lg:flex-row bg-black bg-opacity-20 p-8 rounded-xl border border-zinc-600 mt-5 mx-4 lg:mx-0 lg:mb-40"
>
  <article class="text-white lg:w-1/2 lg:mr-20">
    <h2 class="text-indigo-500 text-4xl font-bold text-center">Sobre mi</h2>
    <br />
    <p class="font-extralight text-xs lg:text-sm">
      Como desarrollador web full-stack, mi historial demuestra el desarrollo de
      aplicaciones web de alta calidad que satisfacen las necesidades de los
      clientes. Poseo competencia en diversas tecnologías, como HTML, CSS,
      Tailwind, JavaScript, Node.js, Express.js, React y Astro, con experiencia
      en front-end y back-end.
    </p>
    <br />
    <p class="font-extralight text-xs lg:text-sm">
      Soy un profesional altamente motivado y orientado a los detalles,
      comprometido con estar al tanto de las últimas tendencias y mejores
      prácticas de la industria. Busco constantemente nuevos desafíos y
      oportunidades para expandir mis habilidades. Confío en que mi experiencia
      y conocimientos que espero poder compartir con un gran equipo.
    </p>
  </article>
  <article class="lg:w-1/2 mt-5 lg:mt-0">
    <h2 class="text-indigo-500 text-4xl font-bold text-center">Habilidades</h2>
    <div class="flex flex-wrap lg:items-stretch items-center justify-center">
      {
        icons.map((icon) => (
          <figure class="bg-indigo-500 bg-opacity-15 rounded-lg w-20 h-24 lg:w-28 lg:h-28 flex flex-col items-center justify-center lg:mr-4 mx-1 lg:mx-0 my-1 lg:my-2 hover:scale-110 transition hover:animate-pulse ">
            <img src={icon.icon} alt="tecnologia" />
            <p class="text-[#5553B7] mt-2   ">{icon.name}</p>
          </figure>
        ))
      }
    </div>
  </article>
</section>
